@use '../variables';

.event {
    padding: 88px 0;
    
    &__nasc{
        background-image: linear-gradient(rgb(238, 49, 49) rgb(54, 138, 223));
    }
    

    &--img-left {
        .container {
            flex-direction: row-reverse;
            gap: 40px;
        }
    }

    color: #fff;
}

